<nav>
    <ul>        
        <li>
            <a [routerLink]="['/home']" routerLinkActive="color-link-active">Accueil</a>
        </li>
        <li>
            <a [routerLink]="['/Exe1']" routerLinkActive="color-link-active">Exercice 1</a>            
        </li>
        <li>
            <a [routerLink]="['/Exe2']" routerLinkActive="color-link-active">Exercice 2</a>            
        </li>
        <li>
            <a [routerLink]="['/Exe3']" routerLinkActive="color-link-active">Exercice 3</a>            
        </li>
        <li>
            <a [routerLink]="['/Exe4']" routerLinkActive="color-link-active">Exercice 4</a>            
        </li>
    </ul>
</nav>
