<h2>{{titleReceipt}}</h2>
<form class="page-container" #myForm="ngForm" (ngSubmit)="addReceipt()">
    <fieldset>
        <label for="date"><span>*</span> Date </label>
        <input type="date" name="date" id="date" [(ngModel)]="dateS" 
        #date="ngModel"  required>
        <div *ngIf=" myForm.submitted">
            <small *ngIf="!dateOK">Cette date est déjà utilisée</small>
        </div>  
    </fieldset>
    <fieldset>
        <label for="title"><span>*</span> Intitulé</label>
        <input type="text" name="title" id="title" [(ngModel)]="receipt.title" #title="ngModel" required>
        <div *ngIf="title.errors && myForm.submitted">
            <small *ngIf="title.errors?.['required']">L'intitulé' est requis</small>
        </div>      
    </fieldset>
    <fieldset>
        <label for="amount"><span>*</span> Montant</label>
        <input type="number" name="amount" id="amount" [(ngModel)]="receipt.amount" #amount="ngModel">
    </fieldset>
    <div class = "btn">
        <button type="submit">{{textBtnSubmit}}</button>
    </div>
</form>  
